body{
  font-family: century gothic, sherif;
  width: 260px;
  margin: 0;
  padding: 0 20px;
  font-style: normal;
  font-size: 15px;
}
h1{
  color: black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  border-left: 2px solid #D9005B;
  background: #f5f5f5;
}
h2 {
    font-size: 1.5em;
    color: #333;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 1px;
}
p{
  margin: 1em 0;
  color: black;
}
.cite {
    padding: 5px 10px;
    background: #f5f5f5;
    border-left: 2px solid #ccc;
    font-style: italic;
}
.first{
    padding-bottom: 2px;
}
